.button_play_region_play{
	-fx-shape: "M4 3.532l14.113 8.468-14.113 8.468v-16.936zm-2-3.532v24l20-12-20-12z";
}
.button_play_region_pause{
	-fx-shape: "M22 2v20h-20v-20h20zm2-2h-24v24h24v-24z";
}
#button_repeat_region{
	-fx-shape: "M2 12c0 .999.381 1.902.989 2.604l-1.098.732-.587.392c-.814-1.025-1.304-2.318-1.304-3.728 0-3.313 2.687-6 6-6h9v-3l6 4-6 4v-3h-9c-2.206 0-4 1.794-4 4zm20.696-3.728l-.587.392-1.098.732c.608.702.989 1.605.989 2.604 0 2.206-1.795 4-4 4h-9v-3l-6 4 6 4v-3h9c3.313 0 6-2.687 6-6 0-1.41-.489-2.703-1.304-3.728z"
}

.button_region{
	-fx-background-color: black;
	-fx-scale-shape: false;
	-fx-scale-x: 1.2;
	-fx-scale-y: 1.2;
	-fx-scale-z: 1.2;
}

.button_repeat_activated{
	-fx-background-color: red !important;
}

.button_bar:hover .button_region{
	-fx-background-color: grey;
}

.button_bar{
	-fx-pref-width : 60px;
	-fx-pref-height: 60px;
	
	-fx-background-color: transparent;
}