.button_play_region_play{
	-fx-shape: "M4 3.532l14.113 8.468-14.113 8.468v-16.936zm-2-3.532v24l20-12-20-12z";
}
.button_play_region_pause{
	-fx-shape: "M18 2v20h-2v-20h2zm-10 0v20h-2v-20h2zm12-2h-6v24h6v-24zm-10 0h-6v24h6v-24z";
}
#button_next_region{
	-fx-shape: "M14 8.482l6.031 3.518-6.031 3.518v-7.036zm-12 0l6.031 3.518-6.031 3.518v-7.036zm10-3.482v14l12-7-12-7zm-12 0v14l12-7-12-7z"
}
#button_back_region{
	-fx-shape: "m10 8.48-6.03 3.52 6.03 3.52zm12 0-6.03 3.52 6.03 3.52zm-10-3.48v14l-12-7zm12 0v14l-12-7z"
}
#button_repeat_region{
	-fx-shape: "M2 12c0 .999.381 1.902.989 2.604l-1.098.732-.587.392c-.814-1.025-1.304-2.318-1.304-3.728 0-3.313 2.687-6 6-6h9v-3l6 4-6 4v-3h-9c-2.206 0-4 1.794-4 4zm20.696-3.728l-.587.392-1.098.732c.608.702.989 1.605.989 2.604 0 2.206-1.795 4-4 4h-9v-3l-6 4 6 4v-3h9c3.313 0 6-2.687 6-6 0-1.41-.489-2.703-1.304-3.728z"
}

.button_region{
	-fx-background-color: black;
	-fx-scale-shape: false;
	-fx-scale-x: 1.8;
	-fx-scale-y: 1.8;
	-fx-scale-z: 1.8;
}

.button_bar:hover .button_region{
	-fx-background-color: grey;
}

.button_bar{
	-fx-pref-width : 60px;
	-fx-pref-height: 60px;
	
	-fx-background-color: transparent;
}

.button_repeat_activated{
	-fx-background-color: red !important;
}